<template>
  <stepper />
</template>

<script lang="ts">
import Vue from "vue";
import Stepper from "../components/Stepper.vue";

export default Vue.extend({
  name: "HomeView",

  components: {
    Stepper,
  },
});
</script>
