<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-list-item two-line>
          <v-list-item-content>
            <v-list-item-title>
              Repositório desse projeto em Vue.js</v-list-item-title
            >
            <v-list-item-subtitle
              ><a
                href="https://bitbucket.org/phabloraylan/for-impulso-1388-vuejs/src/master/"
                target="_BLANK"
                >https://bitbucket.org/phabloraylan/for-impulso-1388-vuejs/src/master/</a
              ></v-list-item-subtitle
            >
          </v-list-item-content>
        </v-list-item>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-stepper v-model="e6" vertical>
          <v-stepper-step :complete="e6 > 1" step="1">
            Sobre sua PRÁTICA como Front-end:
          </v-stepper-step>

          <v-stepper-content step="1">
            <v-card class="mb-12">
              <v-card-text>
                <p class="body-1">
                  <b>Como classifica seus conhecimentos de *0 a 4*?</b> <br />
                  3
                </p>

                <p class="body-1">
                  <b>Quanto tempo tem de experiência prática?</b> <br />
                  10 anos aproximadamente
                </p>

                <p class="body-1">
                  <b
                    >Explique como é a arquitetura do último projeto que atuou
                    como front-end.</b
                  >
                  <br />
                  Usamos Vue.js, Vuex, testes unitários com jest, hospedamos no
                  Firebase Hosting com CI integrado com Git.
                </p>
              </v-card-text>
            </v-card>
            <v-btn color="primary" @click="e6 = 2"> Continuar </v-btn>
          </v-stepper-content>

          <v-stepper-step :complete="e6 > 2" step="2">
            Sobre sua PRÁTICA como Dev. Vue.JS:
          </v-stepper-step>

          <v-stepper-content step="2">
            <v-card class="mb-12">
              <v-card-text>
                <p class="body-1">
                  <b>Como classifica seus conhecimentos de *0 a 4*?</b> <br />
                  3
                </p>

                <p class="body-1">
                  <b> Quanto tempo tem de experiência prática?</b> <br />
                  4 anos aproximadamente
                </p>

                <p class="body-1">
                  <b>Fale sobre seus projetos mais relevantes em que atuou.</b>
                </p>
                <p class="body-1">
                  <a href="https://bankon.com.br/on/" target="_BLANK"
                    >https://bankon.com.br/on/</a
                  ><br />
                  Nova interface frontend da área de cliente usando Vue.js.
                  <br />
                  Gerenciamento das nuvens: Google Cloud, Amazon AWS e
                  CloudFlare. <br />Criação da api que se conecta com app usando
                  Node.<br />
                  Criação do aplicativo novo Android que será lançado usando
                  Kotlin.
                </p>

                <p class="body-1">
                  <a href="https://ezzebank.com/ezze/" target="_BLANK"
                    >https://ezzebank.com/ezze/</a
                  ><br />
                  Nova interface frontend da área de cliente usando Vue.js.
                  <br />
                  Gerenciamento das nuvens: Google Cloud, Amazon AWS e
                  CloudFlare. <br />Criação da api que se conecta com app usando
                  Node.<br />
                  Criação do aplicativo novo Android que será lançado usando
                  Kotlin.
                </p>

                <p class="body-1">
                  <a
                    href="https://play.google.com/store/apps/details?id=br.com.raysoft.ace"
                    target="_BLANK"
                    >https://play.google.com/store/apps/details?id=br.com.raysoft.ace</a
                  ><br />
                  Aplicativo para agentes de endemias em uma cidade baiana, para
                  fazer acompanhamentos de forma digital das áreas.<br />
                  Criei desde o Backend usando Node com banco de dados
                  PostgreSQL, cache Redis, área administrativa usando Vue,js,
                  Aplicativo android usando Kotlin, Instalação de todos os
                  servidores no Google Cloud e etc…
                </p>
              </v-card-text>
            </v-card>
            <v-btn color="primary" @click="e6 = 3"> Continuar </v-btn>
            <v-btn text @click="e6 = 1" class="ml-2"> Voltar </v-btn>
          </v-stepper-content>

          <v-stepper-step :complete="e6 > 3" step="3">
            Você tem experiência prática com React ou Angular?
          </v-stepper-step>

          <v-stepper-content step="3">
            <v-card class="mb-12">
              <v-card-text>
                <p class="body-1">
                  Já tive experiência de estudos e pequenos testes, posso me
                  aprofundar caso seja necessário.
                </p></v-card-text
              >
            </v-card>
            <v-btn color="primary" @click="e6 = 4"> Continuar </v-btn>
            <v-btn text @click="e6 = 2" class="ml-2"> Voltar </v-btn>
          </v-stepper-content>

          <v-stepper-step :complete="e6 > 4" step="4">
            Qual sua experiência com metodologias ágeis? Fale sobre isso.
          </v-stepper-step>
          <v-stepper-content step="4">
            <v-card class="mb-12">
              <v-card-text>
                <p class="body-1">
                  Atualmente todos os projetos que tenho atuado, uso ferramentas
                  como Trello com o método Kanban.
                </p>
              </v-card-text>
            </v-card>
            <v-btn color="primary" @click="e6 = 5"> Continuar </v-btn>
            <v-btn text @click="e6 = 3" class="ml-2"> Voltar </v-btn>
          </v-stepper-content>

          <v-stepper-step :complete="e6 > 5" step="5">
            Já atuou com GraphQL para consumo de APIs? Usou quais ferramentas?
          </v-stepper-step>
          <v-stepper-content step="5">
            <v-card class="mb-12">
              <v-card-text>
                <p class="body-1">Já consumir APIs usando Vue Apollo</p>
              </v-card-text>
            </v-card>
            <v-btn color="primary" @click="e6 = 6"> Continuar </v-btn>
            <v-btn text @click="e6 = 4" class="ml-2"> Voltar </v-btn>
          </v-stepper-content>

          <v-stepper-step :complete="e6 > 6" step="6">
            Como classifica seus conhecimentos de *0 a 4*:
          </v-stepper-step>
          <v-stepper-content step="6">
            <v-card class="mb-12">
              <v-card-text>
                <p class="body-1">
                  <b>Javascript (ES6+)</b> <br />
                  4
                </p>

                <p class="body-1">
                  <b>CI/CD</b> <br />
                  3
                </p>

                <p class="body-1">
                  <b>PostgreSQL</b> <br />
                  4
                </p>
              </v-card-text>
            </v-card>
            <v-btn color="primary" @click="e6 = 7"> Continuar </v-btn>
            <v-btn text @click="e6 = 5" class="ml-2"> Voltar </v-btn>
          </v-stepper-content>

          <v-stepper-step :complete="e6 > 7" step="7">
            Já atuou em algum projeto com Back-end?
          </v-stepper-step>
          <v-stepper-content step="7">
            <v-card class="mb-12">
              <v-card-text>
                <p class="body-1">
                  Em todos os trabalhos que já fiz, atuei desde a criação de
                  todo Backend usando Node ou PHP, gerenciamento da nuvem Google
                  Cloud e Amazon AWS, criação de apps nativo Android usando
                  Kotlin.
                </p>
              </v-card-text>
            </v-card>
            <v-btn color="primary" @click="e6 = 8"> Continuar </v-btn>
            <v-btn text @click="e6 = 6" class="ml-2"> Voltar </v-btn>
          </v-stepper-content>

          <v-stepper-step :complete="e6 > 8" step="8">
            Quais ferramentas você utiliza para trabalhar com testes unitários
            automatizados?
          </v-stepper-step>
          <v-stepper-content step="8">
            <v-card class="mb-12">
              <v-card-text>
                <p class="body-1">Jest</p>
              </v-card-text>
            </v-card>
            <v-btn color="primary" @click="e6 = 9"> Continuar </v-btn>
            <v-btn text @click="e6 = 7" class="ml-2"> Voltar </v-btn>
          </v-stepper-content>

          <v-stepper-step step="9">
            Atualmente você está atuando em algum outro/a projeto/empresa? Se
            sim, como fará para assumir o projeto? Como é necessário estar
            disponível ainda esse mês, peço que fale se possui essa
            disponibilidade.
          </v-stepper-step>
          <v-stepper-content step="9">
            <v-card class="mb-12">
              <v-card-text>
                <p class="body-1">
                  Sim, estou atuando em alguns projetos, mas tenho total
                  disponibilidade para começar imediatamente em outro.
                </p>
              </v-card-text>
            </v-card>
            <v-btn color="primary" @click="e6 = 1"> Ir para o início</v-btn>
            <v-btn text @click="e6 = 7" class="ml-2"> Voltar </v-btn>
          </v-stepper-content>
        </v-stepper>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "HelloWorld",

  data: () => ({
    e6: 1,
  }),
});
</script>
