<template>
  <v-app>
    <v-app-bar app color="primary" dark shrink-on-scroll prominent>
      <v-toolbar-title
        >Entrevista assíncrona 1388 - Pleno para Sênior Front-end
        Vue.js</v-toolbar-title
      >

      <v-spacer></v-spacer>
      <template>
        <v-btn icon @click="darkMode()" class="mr-2">
          <v-icon>mdi-brightness-4</v-icon>
        </v-btn>
      </template>
    </v-app-bar>
    <v-main>
      <router-view />
    </v-main>

    <v-footer padless color="primary">
      <v-col class="text-center white--text" cols="12">
        {{ new Date().getFullYear() }} — <strong>@phabloraylan</strong>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";

import ThemeService from "./services/ThemeService";

export default Vue.extend({
  name: "App",

  data: () => ({
    //
  }),
  created() {
    ThemeService.forceCheckMode(this);
  },
  methods: {
    darkMode() {
      ThemeService.toggleMode(this);
    },
  },
});
</script>
